<a href="https://colab.research.google.com/github/ParthikB/Practice-questions/blob/master/Count%20And%20Say%20%23solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
"""

The count-and-say sequence is the sequence of integers with the first five terms as following:

1.     1
2.     11
3.     21
4.     1211
5.     111221
1 is read off as "one 1" or 11.
11 is read off as "two 1s" or 21.
21 is read off as "one 2, then one 1" or 1211.

Given an integer n where 1 ≤ n ≤ 30, generate the nth term of the count-and-say sequence.

Note: Each term of the sequence of integers will be represented as a string.

"""

'\n\nThe count-and-say sequence is the sequence of integers with the first five terms as following:\n\n1.     1\n2.     11\n3.     21\n4.     1211\n5.     111221\n1 is read off as "one 1" or 11.\n11 is read off as "two 1s" or 21.\n21 is read off as "one 2, then one 1" or 1211.\n\nGiven an integer n where 1 ≤ n ≤ 30, generate the nth term of the count-and-say sequence.\n\nNote: Each term of the sequence of integers will be represented as a string.\n\n'

In [0]:
def countAndSay(n):
  arr = [None]*(n)
  arr[0] = "1"
  
  for i in range(1, n):
    master = ""
    counter = 1
    for j in range(len(arr[i-1])):
      _str = arr[i-1]
      valid = False
      
      try:
        if _str[j] == _str[j+1]:
          counter += 1
          valid = True
      except:
          pass
      
      if not valid:
        master += str(counter) + _str[j]
        counter = 1
      
      
    arr[i] = master
    
  return arr[n-1]

In [145]:
countAndSay(5)

'111221'